<br /><br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3>Users List</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div fxLayout fxLayoutAlign="center center">
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-sm row-border hover" id="userTable">
                            <thead>
                                <tr>
                                    <th style="width: 1%;"></th>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>IsActive</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td> <a type="button"
                                            (click)="onAddRoles(user.id,user.firstName,user.lastName,user.email,user.isActive,user.roleName)"><i
                                                class="fas fa-plus" style="color:#007bff"></i></a></td>
                                    <td>{{user.id}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.roleName}}</td>
                                    <td>{{user.isActive}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Roles</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="userForm" (ngSubmit)="Save()" *ngIf="userForm">
                        <input type="hidden" formControlName="id" />
                        <label *ngFor="let role of roleList; let i = index" formArrayName="role" class="form-control">
                            <input type="checkbox" value="{{ role.roleName }}"
                                (change)="onChangePolicy(role.roleName,$event)" [checked]="role.IsChecked" />
                            {{role.roleName }}
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>
                    <button type="submit" class="btn btn-dark" data-dismiss="modal" (click)="Save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>